@charset "utf-8";
body,p,ul,ol,dl,dd,h1,h2,h3,h4,h5,h6,td,input,select,option,textarea{
	margin:0;
	padding:0;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
body{
    background:#ede7e1;
}
.list{
   
    // width: 1064px;
    margin:50px 120px;
    height:570px;
    .list_1{
        background:#f8f6f4;
        float:left;
        div{
            width: 163px;
            height: 100px;
            margin-top:10px;
            text-align:center;
            p{
                font-size:12px;
            }
        }
        ul{
            width: 163px;
            li{
                
                a{
                    color:#666666;
                    display:block;
                    width: 163px;
                    height: 46px;
                    font-size:12px;
                    text-align:left;
                    line-height:46px;
                    border-bottom:1px solid #eee;
                    background:#f8f6f4;
                    // overflow: hidden;
                }
                b{
                    float:left;
                    width: 25px;
                    height: 25px;
                    margin:7px 15px 0 12px;
                }
                .b_1{
                    background:url(../img/left_nav_icons.png) no-repeat 4px 6px;
                
                }
                .b_2{
                    background:url(../img/left_nav_icons.png) no-repeat 4px -21px;
                
                }
                .b_3{
                    background:url(../img/left_nav_icons.png) no-repeat 4px -46px;
                
                }
                .b_4{
                    background:url(../img/left_nav_icons.png) no-repeat 4px -73px;
                
                }
                .b_5{
                    background:url(../img/left_nav_icons.png) no-repeat 4px -98px;
                
                }
                .b_6{
                    background:url(../img/left_nav_icons.png) no-repeat 4px -123px;

                }
                .b_7{
                    background:url(../img/left_nav_icons.png) no-repeat 4px -147px;
 
                }
                a:hover{
                    background: white;
                }
            }
        }
    }
    .list_2{
        float:left;
        
        background:white;
        .ding{
            border-bottom:1px solid #dbd6d0;
            p{
                color:#333333;
                font-size:18px;
                line-height:46px;
                display:inline-block;
                margin-left:20px;
                margin-right:440px;
            }
            a{
                color:#ed1480;
                font-size:12px;
                line-height:46px;
            }
        }
        .tabbox ul{
            list-style:none;display:table;
            overflow: hidden;
            clear:both;
        }
        .tabbox ul li{
            float:left;
            a{
                width:150px;
                line-height:50px;
                display:block;
                line-height:50px;
                text-align:center;
                border:1px solid #dbd6d0;
                cursor:pointer;
                color:#666;
                background:#f8f6f4;
            }
        }
        .aaa{
            clear: both;
        }
        .tabbox{
            float:right;
            border:1px solid #dbd6d0;
            // width: 800px;
            height: 570px;
            overflow: hidden;
            margin-top:20px;
            margin-left:20px;
        }
        .tabbox ul li a.active{
            background:white;
            color:#ed1480;
           font-weight:bold;}
        .tabbox .content{
            // border:1px solid #aaccff;
            width: 610px;
            height: 300px;
            
        }
        .tabbox .content>div{display:none;}
        .tabbox .content>div.active{display:block;}
            }
}

